/* The switch - the box around the slider */
.mo-switch {
    @apply relative inline-block w-[44px] h-[28px];
}

/* Hide default HTML checkbox */
.mo-switch input {
    @apply sr-only;
}

/* The slider */
.mo-slider {
    @apply absolute cursor-pointer top-mo-0 right-mo-0 bottom-mo-0 left-mo-0 bg-slate-300 duration-150 flex items-center;
}

.mo-slider:before {
    @apply absolute w-[20px] h-[20px] left-mo-1 bg-white duration-150;
    content: "";
}

input:checked + .mo-slider {
    @apply bg-indigo-500;
}

input:focus + .mo-slider {
    @apply shadow-sm;
}

input:checked + .mo-slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
.mo-slider.round {
    border-radius: 34px;
}

.mo-slider.round:before {
    border-radius: 50%;
}
