/* Side Navigation Container */
.mo-sidenav {
    border-right: 1px solid;
    @apply bg-white w-max p-mo-4 flex flex-col gap-mo-3 border-slate-300
    lg:w-2/6;
}

/* Side Navigation Item */
.mo-sidenav-item {
    @apply w-full flex items-center gap-mo-3 px-mo-4 py-mo-2 rounded-sm text-slate-900
	hover:bg-slate-100;
}

.mo-sidenav-item p {
    @apply hidden lg:block;
}

.mo-sidenav-item.active {
    @apply bg-slate-100 font-bold;
}
